//Core styles
.page__wrapper.page__wrapper--catalog-item-page {

  .header {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
    @media (--xl) {
      padding-top: 65px;
    }
  }
  .header__container {
    display: none;
  }

  .header__top {
    @media (--xl) {
      border-bottom: 1px solid var(--gray6);
    }
  }

  .catalog-item-wrapper {

    .catalog-item {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      text-align: center;
    }
    .catalog-item__slider-container {
      position: relative;
      margin-bottom: 25px;
      @media (--xl) {
        margin-bottom: 0;
      }
    }

    .arrow {
      @media (--xl) {
        display: none;
      }
    }

    .arrow--next {
      right: 5px;
    }

    .arrow--prev {
      left: 5px;
    }

    .icon-expand {
      display: none;
      @media (--xl) {
        z-index: 10;
        right: -23px;
        display: inline-block;
      }
    }

    .back-home {
      display: block;
      margin-bottom: 20px;
      @media (--xl) {
        @include rhythm(18,18);
      }
    }
    .catalog-item__heading {
      color: var(--gold);
      @include rhythm(20,20);
      @extend .f-weight-light;
      margin-bottom: 15px;
      @media (--xl) {
        @include rhythm(36,36);
        letter-spacing: 3.27px;
        margin-bottom: 20px;
      }
    }
    .catalog-item__price {
      color: var(--gold);
      margin-bottom: 20px;
      @include rhythm(24,24);
      @extend .f-weight-normal;
      @media (--xl) {
        margin-bottom: 60px;
      }
    }

    .catalog-item__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media (--xl) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 180px;
        transform: translateX(50px);
      }
    }


    .catalog-item__preview {
      display: none;
      @media (--xl) {
        display: block;
      }
    }

    .catalog-item__preview-item {
      width: 68px;
      height: 68px;
      filter: opacity(0.5);
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .catalog-item__img {
      width: 200px;
      height: 200px;
      margin: auto;
      cursor: pointer;
      @media (--xl) {
        cursor: default;
        width: 300px;
        height: 300px;
      }
    }

    .catalog-item__pagination {
      bottom: -30px;
      @media (--xl) {
        bottom: -40px;
      }
    }

    .catalog-item__info-top {
      @media (--xl) {
        margin-left: 60px;
        margin-right: 60px;
      }
    }

    .catalog-item__info-bottom {
      @media (--xl) {
      }
    }

    .catalog-info__desc {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      @media (--xl) {
        margin-bottom: 35px;
        flex-direction: column;
      }
    }


    .catalog-info__desc-item {
      text-align: left;
      @media (--xl) {
        display: inline-flex;
      }
    }

    .catalog-info__desc-vertical {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      .catalog-info__desc-item {
        display: inline-flex;
        flex-direction: row;
      }
      .catalog-info__prop {
        margin-right: 5px;
      }
      @media (--xl) {
        align-items: flex-start;
        margin-bottom: 0;
      }
    }


    .catalog-info__prop {
      @extend .f-weight-light;
      margin-bottom: 5px;
      @media (--xl) {
        margin-right: 5px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .catalog-item__buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      @media (--xl) {
        position: absolute;
        bottom: 65px;
        left: 50%;
        transform: translateX(calc(-50% - 50px));
        margin-bottom: 0;
      }
    }
    .catalog-item__button {
      padding: 11px 0;
      flex-grow: 1;
      max-width: 50%;
      flex-shrink: 0;
      flex-basis: 0;
      @media (--xl) {
        width: 165px;
      }
      &:first-of-type {
        margin-right: 5px;
        @media (--xl) {
          margin-right: 15px;
        }
      }
      &:last-of-type {
        margin-left: 5px;
        @media (--xl) {
          margin-left: 15px;
        }
      }
    }

  }

  .in-row {
    padding-bottom: 30px;
    @media (--xl) {
      padding-bottom: 80px;
      padding-top: 80px;
    }
  }

  .similar-coins {
    .section-title {
      @include rhythm(24,24);
    }
  }

  .footer {
    background-color: var(--gray1);
  }
//End core styles

//Mods
.catalog-info__desc-item--stepper {
  margin-top: 20px;
  align-items: center;
  @media (--xl) {
    margin-top: 45px;

    align-items: center;
    .catalog-info__value {
      margin-left: 30px;
    }
  }
  p {
    @include rhythm(18,18);
  }
}

.catalog-item-wrapper {
  .catalog-item__preview-item--active {
    filter: opacity(1);
  }
}
//End mods

//Media queries
  //Core styles

  //End core styles

  //Mods

  //End mods
//End media queries
}
