.page__wrapper--main-page {
//Core styles
  .available-coins  {
    .section-title {
      margin-bottom: 40px;
    }
  }
//End core styles

//Mods
  .header--with-bg {
    background-image: url(../images/general/main-bg--mobile.jpg);
    @media (--xl) {
      background-image: url(../images/general/main-bg--desktop.jpg);
    }
  }
//End mods


//Media queries

  //Core styles

  //End core styles

  //Mods

  //End mods
//End media queries
}


