.page__wrapper--main-page {
//Core styles
  .header {
    padding-top: 55px;
    @media (--xl) {
      padding-top: 130px;
    }

    .header__title {
      @include rhythm(24, 27)
      @media (--xl) {
        margin-bottom: 0;
      }
    }
  }

  .available-coins  {
    .section-title {
      margin-bottom: 40px;
    }
  }
//End core styles

//Mods
  .header--with-bg {
    background-image: url(../images/general/main-bg--mobile.jpg);
    @media (--xl) {
      background-image: url(../images/general/main-bg--desktop.jpg);
    }
  }
//End mods


//Media queries

  //Core styles

  //End core styles

  //Mods

  //End mods
//End media queries
}


