{% extends 'layouts/application.njk' %}
{% from 'macros/helpers.html' import spriteForLink,sprite %}


{% block content %}

<div class="page__wrapper page__wrapper--favorite-page">

  {% include 'components/_header-2.njk' %}

  <main class="main">



    <section class="available-coins section-wrapper">
      <h2 class="section-title">Монеты в наличии</h2>

      <div class="container container--padding-off">
        <div class="catalog">
          <div class="catalog__inner">

            {% include 'components/_catalogItem.njk' %}
            {% include 'components/_catalogItem.njk' %}
            {% include 'components/_catalogItem.njk' %}
            {% include 'components/_catalogItem.njk' %}
            {% include 'components/_catalogItem.njk' %}
            {% include 'components/_catalogItem.njk' %}
            {% include 'components/_catalogItem.njk' %}
            {% include 'components/_catalogItem.njk' %}

          </div>
        </div>
      </div>

    </section>


  </main>

  {% block footer %}

   {% include 'components/_footer.njk' %}

  {% endblock %}

</div>

{% endblock %}
