{% extends 'layouts/application.njk' %}
{% from 'macros/helpers.html' import spriteForLink,sprite %}


{% block content %}

<div class="page__wrapper page__wrapper--favorite-page">

  {% include 'components/_header-2.njk' %}

  <main class="main">

    <section class="favorite favorite--empty-list section-wrapper">

      <div class="container">
        <div class="favorite__empty-container">

          <img class="favorite__empty-icon" src="../images/content/icon-box.svg" alt="">

          <h3 class="favorite__subHeading">У вас пока нет сохраненных товаров</h3>

          <a href="#" class="link arrow-left">в каталог</a>
        </div>
      </div>

    </section>

    <section class="register-form form-wrapper section-wrapper section-wrapper--gray-bg">
      <h2 class="section-title">Зарегистрироваться</h2>

      <div class="container">
        {% import 'components/_forms.njk' as forms %}

        {{ forms.registration() }}
      </div>
    </section>


  </main>

  {% block footer %}

   {% include 'components/_footer.njk' %}

  {% endblock %}

</div>

{% endblock %}
