{% extends 'layouts/library.njk' %}

{% block library %}

  <div class="library">
    <div class="container container--padding-off">
      <div class="library__section">
       <div class="library__item">
         <h3 style="margin-bottom: 20px;">Список страниц проекта coinsage.ru</h3>
         <ul>
            <li><a href="index.html" target="_blank" class="link">index.html</a></li>
            <li><a href="lib.html" target="_blank" class="link">библиотека компонентов</a></li>
            <li><a href="main.html" target="_blank" class="link">1) Главная страница</a></li>
            <li><a href="favoriteEmpty.html" target="_blank" class="link">2) Избранное: ничего не добавлено</a></li>
            <li><a href="favoriteUnregistered.html" target="_blank" class="link">3) Избранное: монеты добавлены в избранное</a></li>
            <li><a href="favoriteEmptySuccessReg.html" target="_blank" class="link">4) Избранное: успешная регистрация, но монеты не добавлены</a></li>
            <li><a href="catalogItemInner.html" target="_blank" class="link">5) Карточка товара</a></li>
         </ul>
      </div>
    </div>
    </div>
  </div>


{% endblock %}
