{% extends 'layouts/library.njk' %}

{% block library %}

  <div class="library">
    <div class="container container--padding-off">
      <div class="library__section">
       <div class="library__item">
         <h3>Список страниц проекта coinsage.ru</h3>
         <ul>
            <li><a href="index.html" target="_blank" class="link">index.html</a></li>
            <li><a href="lib.html" target="_blank" class="link">библиотека компонентов</a></li>
            <li><a href="main.html" target="_blank" class="link">1) Главная страница</a></li>
         </ul>
      </div>
    </div>
    </div>
  </div>


{% endblock %}
