{% extends 'layouts/application.njk' %}


{% block content %}

<div class="page__wrapper page__wrapper--main-page">

  {% include 'components/_header.njk' %}

  <main class="main">

  </main>

  {% block footer %}

   {% include 'components/_footer.njk' %}

  {% endblock %}

</div>

{% endblock %}
