//Core styles
.burger {
  width: 54px;
  height: 45px;
  @include setTransitionFor(transform);
  background-image: url(../images/content/icon-burger.png);
  background-repeat: no-repeat;
  background-size: contain;
  &.active {
    transform: rotate(90deg);
  }
}

//End core styles

//Mods

//End mods

//Media queries
@media (--xl) {
  .burger {
    display: none;
  }
}
  //Core styles

  //End core styles

  //Mods

  //End mods
//End media queries
