{% from 'macros/helpers.html' import spriteForLink,sprite %}

<div class="catalog-item-wr">
  <div class="catalog-item">
      <div class="catalog-item__img">
        <img src="../images/content/content-3.png" alt="">
      </div>
      <h3 class="catalog-item__heading">США 20 долларов 1905 </h3>
      <div class="catalog-item__desc-box">
        <p class="catalog-item__desc-field">
          <span class="catalog-item__prop">Состояние:</span>
          <span class="catalog-item__value">XF</span>
        </p>
        <p class="catalog-item__desc-field">
          <span class="catalog-item__prop">Год выпуска:</span>
          <span class="catalog-item__value">1890</span>
        </p>
        <p class="catalog-item__desc-field">
          <span class="catalog-item__prop">Материал:</span>
          <span class="catalog-item__value">медь</span>
        </p>
        <p class="catalog-item__desc-field">
          <span class="catalog-item__prop">Вес:</span>
          <span class="catalog-item__value">1,28 г</span>
        </p>
      </div>
      <strong class="catalog-item__price catalog-item__price--old-price">59 496 ₽</strong>
      <strong class="catalog-item__price">59 496 ₽</strong>
      <i class="catalog-item__rare">
        <span class="icon-text">редкая монета</span>
        {{ sprite('icon-diamond') }}
      </i>
      <button class="btn-black">в избранное</button>
      <button class="btn-gold">в корзину</button>
      {{ spriteForLink('icon-favorite') }}
      {{ spriteForLink('icon-basket') }}
  </div>
</div>
