{% macro subscribe() %}
  <div class="form form--subscribtion">
    <div class="form__inner">
      <div class="form__side form__side--left">
        <img src="../images/content/img-coin.png" alt="">
      </div>
      <div class="form form__side--right">
        <h3 class="form__heading">Хотите быть в курсе новинок?</h3>
        <p class="form__clarification">Подписывайтесь на нашу рассылку</p>
        <form>
          <div class="form__field">
            <label for="subscribe" >
              <input type="text" name="subscribe" id="subscribe" placeholder="email">
              <input type="submit" value="подписаться">
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro search() %}
<div class="form form--search">
  <form>
    <div class="form__field">
      <label for="search">
        <input type="search" name="search" id="search">
        <i class="icon icon--loop">icon--loop</i>
      </label>
    </div>
  </form>
</div>
{% endmacro %}

{% macro registration() %}
<div class="form form--registration">
  <form>
    <div class="form__field">
      <label class="label" for="bio">
        <p class="form__field-heading">Представьтесь, пожалуйста</p>
        <input type="text" id="bio" placeholder="ФИО">
      </label>
    </div>
    <div class="form__field form__field--one-half-width">
      <label class="label" for="email">
        <div class="form__field-heading">Электронная почта
          <div class="memo">
            <i class="memo__star">*</i>
            <span class="memo__text">На почту придет письмо с паролем для доступа к личному кабинету</span>
          </div>
        </div>
        <input type="email" id="email" placeholder="email">
      </label>
    </div>
    <div class="form__field form__field--one-half-width">
      <label class="label" for="phone">
        <div class="form__field-heading">Телефон
          <div class="memo">
            <i class="memo__star">*</i>
            <i class="memo__star">*</i>
            <span class="memo__text">Для связи по заказам и восстановлению данных</span>
          </div>
        </div>
        <input type="text" id="phone" placeholder="+7">
      </label>
    </div>
    <div class="form__field form__field--centered">
      <input type="submit" class="btn-black" value="Зарегистрироваться">
    </div>
    <div class="form__field">
      <div class="memo memo--alone">
        <span class="memo__text">*На почту придет письмо с паролем для доступа к личному кабинету</span>
      </div>
      <div class="memo memo--alone">
        <span class="memo__text">**Для связи по заказам и восстановлению данных</span>
      </div>
    </div>
  </form>
</div>
{% endmacro %}

{% macro signup() %}
<div class="form form--signup">
  <form>
    <div class="form__field">
      <label class="label" for="bio">
        <p class="form__field-heading">Представьтесь, пожалуйста</p>
        <input type="text" id="bio" placeholder="ФИО">
      </label>
    </div>
    <div class="form__field form__field--one-half-width">
      <label class="label" for="email">
        <div class="form__field-heading">Электронная почта
          <div class="memo">
            <i class="memo__star">*</i>
            <span class="memo__text">На почту придет письмо с паролем для доступа к личному кабинету</span>
          </div>
        </div>
        <input type="email" id="email" placeholder="email">
      </label>
    </div>
    <div class="form__field form__field--one-half-width">
      <label class="label" for="phone">
        <div class="form__field-heading">Телефон
          <div class="memo">
            <i class="memo__star">*</i>
            <i class="memo__star">*</i>
            <span class="memo__text">Для связи по заказам и восстановлению данных</span>
          </div>
        </div>
        <input type="text" id="phone" placeholder="+7">
      </label>
    </div>
    <div class="form__field form__field--centered">
      <input type="submit" class="btn-black" value="зарегистрироваться">
    </div>
    <div class="form__field">
      <div class="memo memo--alone">
        <span class="memo__text">*На почту придет письмо с паролем для доступа к личному кабинету</span>
      </div>
      <div class="memo memo--alone">
        <span class="memo__text">**Для связи по заказам и восстановлению данных</span>
      </div>
    </div>
  </form>
</div>
{% endmacro %}

{% macro signin() %}
<div class="form form--signin">
  <form>
    <div class="form__field">
      <label class="label" for="contacts">
        <p class="form__field-heading">Email / Номер телефона</p>
        <input type="text" id="contacts" placeholder="email / +7…">
      </label>
    </div>
    <div class="form__field form__field--one-half-width">
      <label class="label" for="pass">
        <div class="form__field-heading">Пароль
         </div>
        <input type="password" id="pass" placeholder="email">
      </label>
    </div>

    <div class="form__field form__field--centered">
      <input type="submit" class="btn-black" value="войти">
    </div>

  </form>
</div>
{% endmacro %}
