// GUI styles

.h1 {
  @extend .f-weight-light;
  @include rhythm(36, 36);

}

.h2 {
  @extend .f-weight-light;
  @include rhythm(30, 36);
}

.h3 {
  @extend .f-weight-light;
  @include rhythm(24, 27);
}

.h4 {
  @extend .f-weight-light;
  @include rhythm(18, 18);
}

.c-gold {
  color: var(--gold)
}

.f-weight-light {
  font-weight: 300;
}

.f-weight-normal {
  font-weight: 400;
}

.f-style-italic {
  font-style: italic;
}

.link {
  text-decoration: none;
  color: var(--black);
  @include setTransitionFor(color, border-color);
  &:hover {
    color: var(--gold);
  }
  &:active {
    color: var(--gold);
  }
}

.arrow-right {
  @include arrowSmall(right)
}

.arrow-left {
  @include arrowSmall(left)
}

.up-to-menu {
  font-size: 11px;
  color: color(var(--black) l(80%));
  &:hover {
    color: color(var(--black) l(0%));
  }
}

.sprite {
  width: 55px;
  display: inline-block;
}
