// Mixins

@mixin rhythm($sizeValue, $heightValue) {
  font-size: $sizeValue + px;;
  line-height: $heightValue / $sizeValue;
}

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin reset-button {
  overflow : visible;
  margin : 0;
  padding : 0;
  border : 0;
  background : transparent;
  font : inherit;
  line-height : normal;
  cursor : pointer;
  -moz-user-select : text;

  &::-moz-focus-inner {
      padding : 0;
      border : 0;
  }
}

@mixin setTransitionFor($properties...) {
  transition: 0.2s ease-in-out;
  transition-property: $properties;
}

@mixin arrowSmall($side) {
  position: relative;
  display: inline-block;
  @if $side == right {
    &:after {
      content: '>';
      margin-left: 10px;
    }
  } @else {
    &:before {
      content: '<';
      margin-right: 10px;
    }
  }
}

@mixin goldOnHover($icon) {
  @include setTransitionFor(color, fill);


  &:hover {
    @if $icon == icon {
      fill: var(--gold);
    } @else {
      color: var(--gold);
    }
  }
  &:active {
    @if $icon == icon {
      fill: var(--gold);
    } @else {
      color: var(--gold);
    }
  }
}
