// App styles, imports etc...

@import-normalize;
@import 'utils/_resets';
@import 'utils/_vars';
@import 'utils/_mixins';
@import 'utils/_library';
@import 'utils/_radiobuttons';
@import 'utils/_buttons';
@import 'utils/_GUI';

@import 'components/_header';
@import 'components/_hamburger';
@import 'components/_mobileMenu';
@import 'components/_navigation';

@import 'pages/_main';

html,
body {
  font-family: var(--Lato);
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

body {
  &.active {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 950px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  margin: 0 auto;
}


.page__wrapper {
  position: relative;
  padding-top: 65px;
  width: 100%;
  min-height: 100%;
}

.logo {
  text-decoration: none;
  &--white {
    svg {
      fill: var(--white);
    }
  }
  &--gold {
    svg {
      fill: var(--gold);
    }
  }
  &--big {
    svg {
      width: 100px;
      height: 100px;
    }
  }
  .logo__icon {
    vertical-align: middle;
  }
}

.lang-switcher {
  color: var(--white);
  font-weight: 300;

  .lang-switcher__heading {
    font-weight: inherit;
    @include rhythm(18, 18);
  }
  .lang-switcher__list-item {
    display: block;
    text-transform: capitalize;
    @include rhythm(30, 27);
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
    @include goldOnHover();
  }

  .lang-switcher__radio {
    display: none;
  }
  .lang-switcher__radio:checked ~ span {
    color: var(--gold);
  }
}

