// App styles, imports etc...

@import-normalize;
@import 'utils/_resets';
@import 'utils/_vars';
@import 'utils/_mixins';
@import 'utils/_library';
@import 'utils/_radiobuttons';
@import 'utils/_buttons';
@import 'utils/_GUI';
@import 'utils/form/_index';

@import 'components/_header';
@import 'components/_footer';
@import 'components/_burger';
@import 'components/_mobile-menu';
@import 'components/_navigation';
@import 'components/_lang-switcher';
@import 'components/_news';

@import 'pages/_main';
@import 'pages/_lib';

html,
body {
  font-family: var(--Lato);
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

body {
  &.active {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  margin: 0 auto;
  &--padding-off {
    padding-left: 0;
    padding-right: 0;
  }
}


.page__wrapper {
  position: relative;
  padding-top: 65px;
  width: 100%;
  min-height: 100%;
  @media (--xl) {
    padding-top: 0;
  }
}


.icon {
  text-indent: -99999px;
  display: inline-block;
}

.icon--loop {
  background-image: url(../images/content/icon-loop.svg);
  width: 10px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  text-decoration: none;
  background-image: url(../images/content/icon-logo.svg);
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  display: inline-block;
  @media (--xl) {
    background-image: url(../images/content/icon-logo--with-company-name.svg);
    width: 125px;
  }
  &--white {
    svg {
      fill: var(--white);
    }
  }
  &--gold {
    svg {
      fill: var(--gold);
    }
  }
  &--big {
    svg {
      width: 100px;
      height: 100px;
    }
  }
  .logo__icon {
    vertical-align: middle;
  }
}

.socials {
  .sprite {
    width: 40px;
  }
}

.link-as-icon {
  text-decoration: none;
  svg {
    @include goldOnHover(icon);
  }

}

.alone-component {
  padding: 30px 30px;
  @media (--xl) {
    padding: 35px 100px;
  }
  .alone-component__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (--xl) {
      flex-direction: row;
    }
  }

  p {
    @include rhythm(18,18);
    @extend .f-weight-light;
  }

  .alone-component__side--left {
    margin-bottom: 30px;
    @media (--xl) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

.alone-component--bdt {
  border-top: 1px solid var(--gold);
}

.alone-component--bdb {
  border-bottom: 1px solid var(--gold);
}
