// App styles, imports etc...

@import-normalize;
@import 'utils/_resets';
@import 'utils/_vars';
@import 'utils/_mixins';
@import 'utils/_library';
@import 'utils/_radiobuttons';
@import 'utils/_buttons';
@import 'utils/_GUI';

@import 'components/_header';
@import 'components/_footer';
@import 'components/_burger';
@import 'components/_mobile-menu';
@import 'components/_navigation';
@import 'components/_lang-switcher';

@import 'pages/_main';

html,
body {
  font-family: var(--Lato);
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

body {
  &.active {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  margin: 0 auto;
}


.page__wrapper {
  position: relative;
  padding-top: 65px;
  width: 100%;
  min-height: 100%;
  @media (--xl) {
    padding-top: 0;
  }
}

.logo {
  text-decoration: none;
  background-image: url(../images/content/icon-logo--with-company-name.svg);
  width: 125px;
  height: 40px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  display: inline-block;
  &--white {
    svg {
      fill: var(--white);
    }
  }
  &--gold {
    svg {
      fill: var(--gold);
    }
  }
  &--big {
    svg {
      width: 100px;
      height: 100px;
    }
  }
  .logo__icon {
    vertical-align: middle;
  }
}

.socials {
  .sprite {
    width: 40px;
  }
}

.link-as-icon {
  text-decoration: none;

  svg {
    @include goldOnHover(icon);
  }

}

