{% macro signin() %}
<div class="form form--signin">
  <form>
    <div class="form__field">
      <label class="label" for="contacts">
        <p class="form__field-heading">Email / Номер телефона</p>
        <input type="text" id="contacts" placeholder="email / +7…">
      </label>
    </div>
    <div class="form__field form__field--one-half-width">
      <label class="label" for="pass">
        <div class="form__field-heading">Пароль
         </div>
        <input type="password" id="pass" placeholder="email">
      </label>
    </div>

    <div class="form__field form__field--button form__field--centered">
      <input type="submit" class="btn-black" value="войти">
    </div>

  </form>
</div>
{% endmacro %}
